<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="#">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        #mapContainer {
            height: 95%;
        }

        #renderButton {
            width: 100%;
        }
        
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="mapContainer"></div>
    <div id="renderDiv"><button id="renderButton" type="button" onclick="fetchData();">Fetch Data</button></div>
    <script>

        let geocoder;
        let map;

        class Marker {
            constructor(address, title, id, zip) {
                this.address = address;
                this.title = title;
                this.id = id;
                this.zip = zip;
            }
        }

        /**
         * Callback which is called on map load. 
         */
        function initMap() {
            let initialPos = {
                // Chicago
                lat: 41.875126,
                lng: -87.684145
            };

            geocoder = new google.maps.Geocoder();

            map = new google.maps.Map(document.getElementById('mapContainer'), {
                center: initialPos,
                scrollwheel: true,
                zoom: 4
            });

            let marker = new google.maps.Marker({
                map: map,
                position: initialPos,
                title: 'Hello World!'
            });
        }

        /**
         * Callback function which is assigned to fetch UI button. 
         */
        function fetchData() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/v1/small",
                success: (data) => {
                    let markers = collectMarkers(data);
                    renderMarkers(markers);
                }
            })
        }

        /**
         * Create markers for given events.
         * 
         * Args:
         *      data: json object with events.
         * 
         * Returns:
         *      array of Marker objects
         */
        function collectMarkers(data) {
            let markers = [];

            data.events.forEach((event) => {
                // Common data for each marker
                let addr = event.address;
                let title = event.title;
                let id = event.id;
                
                event.zips.forEach((zip) => {
                    markers.push(new Marker(addr, title, id, zip));
                });
            });

            return markers
        }

        function renderMarkers(markers) {
            markers.forEach((marker) => {
                geocoder.geocode({'address': marker.zip}, (res, status) => {
                    if (status == google.maps.GeocoderStatus.OK) {
                        new google.maps.Marker({
                            map: map,
                            position: res[0].geometry.location,
                            title: marker.title
                        });
                    }
                });
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz8cE-amjE-Cu14gKGM60inb1LPkzDNpo&callback=initMap" async
        defer></script>
</body>

</html>