<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="#">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        #mapContainer {
            height: 95%;
        }
        
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="mapContainer"></div>
    <div stype="display: inline-block;">
        <button class="renderButton" type="button" onclick="fetchMarkers();">Fetch Markers</button>
        <button class="renderButton" type="button" onclick="fetchHeatmap();">Fetch Heatmap</button>
    </div>
    <script>

        let geocoder;
        let map;

        class Marker {
            constructor(address, title, id, zip) {
                this.address = address;
                this.title = title;
                this.id = id;
                this.zip = zip;
            }
        }


        /**
         * Callback which is called on map load. 
         */
        function initMap() {
            let initialPos = {
                // Chicago
                lat: 41.875126,
                lng: -87.684145
            };

            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('mapContainer'), {
                center: initialPos,
                scrollwheel: true,
                zoom: 4
            });
        }


        /**
         * Callback function which is assigned to fetch UI button. 
         */
        function fetchMarkers() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/v1/small",
                success: (data) => {
                    let markers = collectMarkers(data);
                    let bag = renderMarkers(markers);
                }
            })
        }


        function fetchHeatmap() {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/api/v1/small",
                success: (data) => {
                    let markers = getHeatmapData(data);
                    renderHeatmap(markers);
                }
            })
        }


        // Tmp wrapper for sake of meaningful names
        function getHeatmapData(data) {
            return collectMarkers(data);
        }


        /**
         * Render heatmap layer on top of the map. 
         */
        function renderHeatmap(markers) {
            let coord = [];

            markers.forEach((marker) => {
                geocoder.geocode({'address': marker.zip}, (res, status) => {
                    if (status == google.maps.GeocoderStatus.OK) {
                        coord.push(
                            new google.maps.LatLng(
                                res[0].geometry.location.lat(),
                                res[0].geometry.location.lng()
                        ));
                    } else {
                        console.log('ERROR: ' + status);
                    }

                })
            })

            let heatmap = new google.maps.visualization.HeatmapLayer({
                data: coord
            });

            heatmap.setMap(map);
        }
        

        /**
         * Create markers for given events.
         * 
         * Args:
         *      data: json object with events.
         * 
         * Returns:
         *      array of Marker objects
         */
        function collectMarkers(data) {
            let markers = [];

            data.events.forEach((event) => {
                // Common data for each marker
                let addr = event.address;
                let title = event.title;
                let id = event.id;
                
                event.zips.forEach((zip) => {
                    markers.push(new Marker(addr, title, id, zip));
                });
            });

            return markers
        }


        // TODO: Add info windows to markers
        // https://developers.google.com/maps/documentation/javascript/infowindows#open
        /**
         * Render markers on a map view. 
         */
        function renderMarkers(markers) {
            let bag = []

            // For each marker
            markers.forEach((marker) => {
                // zip -> {lat, lng}
                geocoder.geocode({'address': marker.zip}, (res, status) => {
                    if (status == google.maps.GeocoderStatus.OK) {
                        // Create new marker at the corresponding {lat, lng} pair 
                        let m = new google.maps.Marker({
                            animation: google.maps.Animation.DROP,
                            map: map,
                            position: res[0].geometry.location,
                            title: marker.title
                        });
                        bag.push(m);
                    } else {
                        console.log('ERROR: ' + status);
                    }
                });
            });

            return bag;
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz8cE-amjE-Cu14gKGM60inb1LPkzDNpo&callback=initMap&libraries=visualization" async
        defer></script>
</body>

</html>