<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>

        <div id="mapContainer"></div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz8cE-amjE-Cu14gKGM60inb1LPkzDNpo&libraries=visualization"></script>
        <script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
        <script>
        generateMap('api/v1/small',
                    'mapContainer', 
                    {lat: 39.50, lng: -98.35},
                    true, // isPolitical
                    true, // showEvents
                    false, // showLeads
                    true, // showHeatmap
                    false // showMarkers
                    )
        </script>
    </body>

</html>
